@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&display=swap');


:root {
  --lc-white: #ffffff;
  --lc-white-soft: #f2f3f8;
  --lc-white-mute: #e0e2e7;

  --lc-gray: #d1d2d8;

  --lc-black: #262a33;
  --lc-black-soft: #474f63;

  --lc-purple: #8129D9;
  --lc-purple-dark: #7b25d1;

  --lc-green: #0f976a;
  --lc-red: #f53a3a;
}

/* semantic color variables for this project */
:root {


  --color-text: var(--lc-black);
  --color-text-secondary: var(--lc-black-soft);

  --color-highlight: var(--lc-white-soft);
  --color-highlight-strong: var(--lc-white-mute);
  --color-disabled: var(--lc-gray);

  --color-background: var(--lc-white);

  --color-primary: var(--lc-purple);
  --color-primary-highlight: var(--lc-purple-dark);

  --color-link: var(--lc-purple);

  --color-success: var(--lc-green);
  --color-error: var(--lc-red);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;

  font-family:
    /* 'Nunito Sans', */
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {

}

#app {
  min-height: 100dvh;
}
